:root {
    --primary-color: #0500FF;
    --border-size: 52px;
    --side-padding: 3rem;
}


html, body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    font-size: 1rem;
    font-family: "Fira Code", 'Courier New', Courier, serif;
}

* {
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100dvh;
}

.fullscreen {
    flex: 1;
    width: 100%;
    height: 0;
    display: flex;
}



.border {
    border: 3rem solid var(--primary-color);
    width: 100%;
    background-color: transparent;
    height: 100%;
    position: absolute;

}

.flex-wall {
    background: transparent;
    flex: 1;
    width: 100%;
}

.wall {
    background-color: var(--primary-color);
    min-width: var(--border-size);
    z-index: 1;
}


.footer {
    padding: 1rem var(--side-padding);
    color: white;
    width: 100%;
    background-color: var(--primary-color);
    min-height: var(--border-size);
    text-align: right;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    padding: 1rem var(--side-padding);
    height: var(--border-size);
    display: flex;
    z-index: 1;
    background-color: var(--primary-color);
    width: 100%;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 1rem;
    border: 0;
    background-color: transparent;
    color: #fff;
    font: inherit;
    position: relative;
    padding: 0.5rem 0;

}

.menu-button:checked ~ .menu--content {
    display: flex;
}

.menu-button:focus ~ .menu-label {
    background-color: white;
    color: var(--primary-color);
}

a:focus {
    outline: none;
    background-color: white;
    color: var(--primary-color)
}

.menu--content a:focus {
    background-color: var(--primary-color);
    color: white;
}

.menu-label {
    cursor: pointer;
}

.menu-button {
    opacity: 0;
}

.menu--content {
    position: absolute;
    display: flex;
    display: none;
    background-color: #fff;
    color: var(--primary-color);
    list-style: none;
    right: 0;
    gap: 0.5rem;
    top: 15px;
    right: 5px;
    flex-direction: column;
    z-index: 2;
    width: 125px;
    padding: 0;
}

.menu--content li {
    padding: 0.5rem;
    cursor: pointer;
}

.image--background {
    z-index: 0;
    background-color: var(--primary-color);
    position: absolute;
}

.image {
    width: 100vw;
}

@media (max-aspect-ratio: 1/1) {
    .image {
        width: auto;
        height: 100vh;
        height: 100dvh;
    }
}




a {
    color: inherit;
}
